@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap'); 

.container-fluid {
    min-height: 100vh;
    background-color: #c8d8e4;
}

.salesSummaryList {
    color: black;
}

.backBtn {
    background-color: #c8d8e4;
    border-width: 3px;
    border-color:  #2b6777;
    border-radius: 5px;
    color:#2b6777;
    transition: .2s ease-out;
}

.backBtn:hover {
    background-color: #41a1bb;
    transition: .2s ease-in;
}

.salesHeader {
    height: 10vh;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px !important;
}

.salesHeader p {
    margin: 0px !important;
}

#toggleBtnOn {
    width: 20px;
    border: none;
    background-color: #c8d8e4;

}

#toggleBtnOff {
    width: 20px;
    border: none;  
    background-color: #c8d8e4;

}


i {
    font-size: 20px;
    color: black;
}

#salesDiv {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid #52ab98;
    font-family: 'Bebas Neue', cursive;
    /* margin-left: 25px; */
}

#tpDiv {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid #52ab98;
    font-family: 'Bebas Neue', cursive;
    /* margin-left: 25px; */
}

#btnDiv {
    border-bottom: 1px solid #52ab98;
    display: flex;
    justify-content: center;
}

#nameDiv {
    color: black;
    font-weight: bold;
    /* margin-left: 50px; */
    font-family: 'Noto Sans', sans-serif;
    margin-top: 10px;
}

#qtyDiv {
    color: black;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 10px;
}

#prcDiv {
    color: black;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 10px;
}

#itemQ {
    text-align: center;
}

#itemP {
    text-align: center;
}